@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

.imageshome {
  position: relative;
}

.tablet-image {
  display: none;
}

.desktop-image {
  display: none;
}

.mobile-image {
  display: block;
  width: 100%;
}

.home01-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  margin-top: 21rem;
  width: 24rem;
}

.home01-text h5 {
  font-size: 12px;
  font-weight: 400px;
  letter-spacing: 15px;
  color: #a9a9a9;
}

.home01-text h1 {
  font-size: 48px;
  font-weight: 700px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.home01-text p {
  font-size: 17px;
  font-weight: 0;
  line-height: 30px;
  color: #ffff;
  opacity: 90%;
}

.home01-text a {
  color: #ffffff;
  margin-top: 1rem;
  background-color: #d87d4a;
  border-radius: 0;
  font-size: 15px;
  padding: 1.1rem 3rem;
}

.home01 {
  margin-bottom: 4rem;
  text-align: center;
}

/* Home Section 2 */

.home02 {
  margin-top: 5rem;
}

.container-home02 {
  position: relative;
  margin: 6rem 2rem 0 2rem;
}

.headphones-mobile,
.speakers-mobile,
.earphones-mobile {
  position: absolute;
  width: 12rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 9rem;
  margin: auto;
}

.text-container {
  bottom: 0;
  background-color: #f1f1f1;
  height: 200px;
  border-radius: 10px;
}

.text-container p {
  padding-top: 7rem;
  font-size: 20px;
  font-weight: 700;
}

.text-container a {
  padding-top: 6rem;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  opacity: 50%;
  color: black;
}

.img-home04 {
  display: none;
}

/* Home Section 3 */

.home03-text {
  width: 20rem;
  margin: auto;
}

.home03 {
  margin: 2rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: #d87d4a;
  border-radius: 10px;
  color: #f1f1f1;
  text-align: center;
}

.home03 h1 {
  font-size: 36px;
  margin: 3rem 0;
  color: #f1f1f1;
}

.home03 p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
  margin: 2rem 0;
  color: #f1f1f1;
}

.home03 .btn {
  color: #f1f1f1;
  text-decoration: none;
  padding: 1.2rem 2.8rem;
  margin: 2rem 0 4rem 0;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 17.76px;
  font-weight: 700;
  background-color: #0000;
  border-radius: 0;
  background-color: black;
}

.home03 .btn:hover {
  background-color: #4c4c4c;
}

.home03 .img-home03 {
  margin-top: 5rem;
  width: 13rem;
}

/* Home Section 4 */
.home04 {
  position: relative;
  margin: 2rem;
}

.home04-text {
  position: absolute;
  top: 30%;
  margin-left: 1rem;
}

.home04-text h5 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 38.25px;
  margin-bottom: 4rem;
}

.mob-img {
  width: 100%;
}

.mob-img {
  border-radius: 10px;
}
.mob-tab,
.mob-desk {
  display: none;
}

.home04 .btn {
  color: #000;
  text-decoration: none;
  padding: 1.2rem 2rem;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 17.76px;
  font-weight: 700;
  border: 2px solid black;
  margin-right: 6rem;
}

.home04 .btn:hover {
  background-color: #000;
  color: #ffff;
}

/* Home Section 5 */

.home05-text h5 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 38.25px;
  margin-bottom: 4rem;
}

.home05 .btn {
  color: #000;
  text-decoration: none;
  padding: 1.2rem 2rem;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 17.76px;
  font-weight: 700;
  border: 2px solid black;
  margin-right: 6rem;
}

.home05 .btn:hover {
  background-color: #000;
  color: #ffff;
}

.home05 {
  margin: 2rem;
}

.mob-ear {
  margin-bottom: 2rem;
  width: 100%;
  display: block;
  border-radius: 10px;
}
.tab-ear,
.desk-ear {
  display: none;
}

.home05-text {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 4rem 0 4rem 2rem;
  width: 100%;
}

#righticon {
  margin-left: 20px;
  padding-bottom: 5px;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .imageshome {
    position: relative;
  }

  .tablet-image {
    display: block;
    width: 100%;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: none;
  }
  .home01-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    margin-top: 20rem;
    width: 24rem;
  }
  .home01-text h5 {
    font-size: 14px;
    font-weight: 400px;
    letter-spacing: 15px;
    color: #a9a9a9;
  }

  .home01-text h1 {
    font-size: 55px;
    font-weight: 700px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .home01-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #a9a9a9;
  }

  .home01-text a {
    color: #ffffff;
    margin-top: 1rem;
    background-color: #d87d4a;
    border-radius: 0;
    font-size: 15px;
    padding: 1.1rem 3rem;
  }

  /* Home Section 2 */

  .home02 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Home Section 3 */
  .home03 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .home03 h1 {
    font-size: 56px;
    margin: 2rem 0rem;
    color: #f1f1f1;
  }
  .img-home04 {
    display: none;
  }

  .home03 p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 100;
    margin: 2rem 0rem;
    color: #f1f1f1;
  }

  /* Home Section 4 */

  .home04 {
    position: relative;
    margin: 2rem;
  }

  .home04-text {
    position: absolute;
    top: 30%;
    margin-left: 2rem;
  }

  .home04-text h5 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 38.25px;
    margin-bottom: 4rem;
  }

  .mob-img,
  .mob-desk {
    display: none;
  }

  .mob-tab {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  /* Home Section 5 */
  .home05 {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1rem;
    margin: 2rem;
  }

  .home05-text h5 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 38.25px;
    margin-bottom: 4rem;
  }

  .tab-ear {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .mob-ear,
  .desk-ear {
    display: none;
  }
  .home05-text {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 4rem 0;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1199px) {
  .imageshome {
    position: relative;
  }

  .tablet-image {
    display: none;
  }

  .desktop-image {
    display: block;
    width: 100%;
  }

  .mobile-image {
    display: none;
  }

  .home01-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    margin-top: 20rem;
    margin-left: 4rem;
    width: 35rem;
    text-align: left;
  }

  .home01-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #a9a9a9;
    padding: 0 3rem 0 0;
  }

  /* Home Section 2 */

  .home02 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2rem;
  }

  /* Home Section 3 */

  .home03 {
    position: relative;
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 600px 2fr;
    margin: 8rem 4rem 0 4rem;
  }

  .img-home04 {
    display: block;
    margin-left: 5rem;
  }

  .img-home03 {
    display: none;
  }

  .home03 h1 {
    font-size: 56px;
    margin: 0;
    color: #f1f1f1;
  }

  .home03 p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 100;
    margin: 2rem 0;
    color: #f1f1f1;
  }

  .home03 .btn {
    position: absolute;
    color: #f1f1f1;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0;
    background-color: #0000;
    border-radius: 0;
    background-color: black;
  }

  .home03-text {
    position: relative;
    margin-top: 0;
    margin-left: 4rem;
    width: 23rem;
    top: 0;
    left: 0;
    text-align: left;
  }

  /* Home Section 4 */
  .home04 {
    margin: 2rem 4rem;
  }
  .mob-desk {
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .mob-img,
  .mob-tab {
    display: none;
  }

  .home04 .btn {
    color: #000;
    text-decoration: none;
    padding: 1.2rem 2.8rem;
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 17.76px;
    font-weight: 700;
    border: 2px solid black;
  }

  .home04-text {
    position: absolute;
    top: 30%;
    margin-left: 8rem;
  }

  /* Home Section 5 */
  .home05 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 2rem 4rem;
  }

  .desk-ear {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .mob-ear,
  .tab-ear {
    display: none;
  }

  .home05-text {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 4rem 8rem 0rem 4rem;
    margin: 0;
  }

  .home05-text h5 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 38.25px;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
