@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

.navbar {
  background-color: #191919;
  border-bottom: 1px solid white;
  margin: 0;
}

.navbar .navbar-nav {
  margin: auto;
  column-gap: 2rem;
}

.navbar .navbar-nav a {
  color: white;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.navbar .nav-brand {
  font-size: 4rem;
}
