@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

.navbar {
  background-color: #191919;

  margin: 0;
  text-align: center;
}

.navbar .navbar-nav {
  margin: auto;
  column-gap: 2rem;
}

.navbar .navbar-nav a {
  color: white;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 0;
}

.navbar .nav-brand {
  font-size: 4rem;
}

.navbar-toggler-icon {
  color: white;
}

.container-fluid {
  margin: 0 1rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .container-fluid {
    margin: 0 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
  }
}

@media (min-width: 1199px) {
  .container-fluid {
    margin: 0 4rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
  }
}
